[submodule "lib/autoresearch"]
	path = lib/autoresearch
	url = https://github.com/karpathy/autoresearch.git
[submodule "lib/object_detection_opencv_cpp"]
	path = lib/object_detection_opencv_cpp
	url = https://github.com/itsashishupadhyay/object_detection_opencv_cpp.git
