[submodule "third_party/autoresearch"]
	path = third_party/autoresearch
	url = https://github.com/karpathy/autoresearch.git
[submodule "third_party/object_detection_opencv_cpp"]
	path = third_party/object_detection_opencv_cpp
	url = https://github.com/itsashishupadhyay/object_detection_opencv_cpp.git
